<p class="text-center text-lg">
  Salut <%= @name %> tu as <%= @age %> ans.
  <% if @cool %>
    Darmusey est cool
  <% end %>
  <% if @adult %>
    ...et peut aller sur <a href="http://www.jazz.com">ce site :o</a>
  <% end %>
</p>
